/* *****************
        TODO LIST
********************/
//variables
$color-primary: pink;
$color-secondary: skyblue;
$color-third: gray;
$color-fourth: yellow;
$color-border: black;
$color-text: #151515;
$color-delete : red;
$color-edit : green;
$color-date : white;
$color-description : white;
$color-check : white;
.btn {
}
.card {
    background-color: $color-primary;
    display: inline-block;
    width: 100%;
    color: $color-text;
    text-align: center;
    padding: 5px;
    margin-bottom: 0.5em;
    border-radius: 5px;
    * {
        padding: 5px;
        margin: 0 2px;
        border-radius: 2px;
    }
    &__check {
        float: left;
        width: 24px;
        height: 24px;
        margin: 4 px auto;
        border: 1px solid $color-border;
        background-color: $color-check;
    }
    &__description {
        display: inline-block;
        width: 50%;
        background-color: $color-description;
    }
    &__date {
        display: inline-block;
        width: 20%;
        border: 1px solid $color-border;
        background-color: $color-date;
    }
    &__delete {
        float: right;
        background-color: $color-delete;
    }
    &__edit {
        float: right;
        background-color: $color-edit;
    }
}


.heading {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1em;
    font-size: 44px;
    
}

.close {
    float: right;
    padding: 5px;
}

.todo-list {
    background-color: $color-primary;
    padding: 10px;
    margin-bottom: 1em;
    border-radius: 5px;
    *:not(*[class*="col-"]):not( *[class*="row"], ) {
        width: 100%;
        min-height: 2rem;
        margin-bottom: 0.2em;
        border-radius: 5px;
    }
    &__btn {
        height: 100%;
        background-color: $color-secondary;
    }
    &__color {
    }
    &__date {
    }
    &__description {
        width: 100%;
        min-height: 2rem;
    }
    &__color-item {

    }
}
.todolist {
    padding: 2em 0;
}

.color {
    &__item {
        &--1 {
            background-color: $color-option-1;
        }
        &--2 {
            background-color: $color-option-2;
        }
        &--3 {
            background-color: $color-option-3;
        }
        &--4 {
            background-color: $color-option-4;
        }
        &--5 {
            background-color: $color-option-5;
        }
    }
}