//colors
$color-bg: #212121;

$color-option-1: #eb5353;
$color-option-2: #ffff6f;
$color-option-3: #3dc33d;
$color-option-4: #7171fd;
$color-option-5: #f06b99;

$color-primary: #673AB7;
$color-secondary: #BDBDBD;
$color-third: #757575;
$color-fourth: #757575;
$color-border: #212121;
$color-text: #212121;
$color-delete : #FF5252;
$color-edit : #512DA8;
$color-date : #FFFFFF;
$color-description : #FFFFFF;
$color-check : #D1C4E9;

$text-color : #212121;
$text-color-light : #C5CAE9;

$brand-color: #212121;